@import "tailwindcss";


.banner {
    background-image: url(../src/Image/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bann {
    background-image: url(../src/Image/ban.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sub_1 {
    background-image: url(../src/Image/sub-banner1.5d5f9c6f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sub_2 {
    background-image: url(../src/Image/sub-banner2.3b2448f3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fashion{
    background-image: url(../src/Image/ban.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}